[Unit]
Description=Cart Service

[Service]
User={{ app_user }}
Environment=REDIS_HOST=redis.roboshop.internal
Environment=CATALOGUE_HOST=catalogue.backend.sharkdev.shop
Environment=CATALOGUE_PORT=80
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target